*{
    margin:0px;
    padding:0px;
}

h1{
    background-color: #081b31;
    color:#B2FFFF;
    text-align:center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 180px;
    width:180px;
}

.choice{
    height: 220px;
width: 220px;
/* display:flex; */
}

.choices{
    display:flex;
    justify-content: center;
    gap:20px;
    margin-top: 5rem;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.score{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 10px;
    gap: 5rem;
}

#user-score, #opponent-score{
    font-size: 3rem;
    align-items: center;
    
}

.result{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#msg{
    background-color: #1B2838;
    color:white;
    height: 2rem;
  border-radius: 1rem;
   display: inline;
    font-size: 25px;
    padding: 10px;
    margin-top: 30px;
}